<div class="container">
  <div class="col-sm-12 mx-auto mt-3">
    <div *ngIf="showForm">
      <form [formGroup]="rForm">
        <div class="form-group row">
          <label for="entrynumber" class="col-sm-3 col-form-label">Entry #</label>
          <div class="col-sm-6">
            <input type="text" readonly 
            class="form-control-plaintext" 
            formControlName="entrynumber">
          </div>
        </div>

        <div class="form-group row">
          <label for="vehicleno" class="col-sm-3 col-form-label">Vehicle Number</label>
          <div class="col-sm-6">
            <input type="text" 
            class="form-control" 
            formControlName ="vehicleNumber"
            placeholder="Vehicle Number">
          </div>
        </div>

        <div class="form-group row">
          <label for="wheels" class="col-sm-3 col-form-label">No.Of Wheels</label>
          <div class="col-lg-6">
            <select class="custom-select d-block" formControlName="wheelsValid" required>
              <option value="">Select No.of wheels</option>
              <option value="Two Wheeler">Two</option>
              <option value="Three Wheeler">Three</option>
              <option value="Four Wheeler">Four</option>
              <option value="Six Wheeler">> Four</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-5 ml-auto">
            <button type="button" class="btn btn-primary" (click)="onVehcileAdded(rForm.value)" [disabled]="!rForm.valid">Get Reciept</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="!showForm">
      <div class="row mt-3">
        <div class="col-sm-1">
          <img src="../../assets/checkmark.gif" height="40px" width="40px" />
        </div>
        <div class="col-sm-11">
          <span>Vehicle added to the list.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mt-4">
          <b> Details</b>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          Entry # :
        </div>
        <div class="col-sm-3">
          {{ entrynumber }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 clearflex">
          Vehicle No :
        </div>
        <div class="col-sm-3">
          {{ vehicleid }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 ml-auto">
          <button class="btn btn-success" (click)="onShowForm()"> Another Vehicle </button>
        </div>
      </div>
    </div>
  </div>